"*":
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      predefinedColor: "Blue"
    fonts:
      fontSize: 20
    tabs: {}
    ui: {}
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  "data-explorer": {}
  editor:
    fontSize: 20
  "exception-reporting":
    userId: "bfe16d39-0ca5-4b60-af2e-8198eb68d8bc"
  "spell-check":
    excludedScopes: [
      "text.plain.null-grammar"
      "markup.code"
    ]
  terminus:
    core: {}
    style:
      theme: "atom-dark"
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 2
